div.login{
	width: 13%;
	height:48px;
	display:inline-block;
	float:left;
	border: 1px solid #999900
}
div.password{
	width: 13%;
	height:48px;
	display:inline-block;
	float:left;
	border: 1px solid #999900
}
div.number_pass{
	width: 13%;
	height:48px;
	display:inline-block;
	float:left;
	border: 1px solid #999900
}
div.col{
	width: 13%;
	height:48px;
	display:inline-block;
	float:left;
	border: 1px solid #999900
}
div.col{
	width: 13%;
	height:48px;
	display:inline-block;
	float:left;
	border: 1px solid #999900
}
div.col{
	width: 13%;
	height:48px;
	display:inline-block;
	float:left;
	border: 1px solid #999900
}
div.col{
	width: 13%;
	height:48px;
	display:inline-block;
	float:left;
	border: 1px solid #999900
}